body {
	font-family: Open Sans;
	font-size: 13px;
	font-weight: 400;
}

.cover_text {
	background-color: #9BB4CF;
	font-family: Open Sans Light;
	font-size: 50px;
}

h1 {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Open Sans Light;
}

.box-container {
	margin: 5px 5px 5px
}

.info {
	background-color: #9BB4CF;
	color: #0c1a30;
	padding: 5px 5px 5px 5px;
	border-radius: 3px;
}

.info-header {
	font-family: Open Sans Light;
	color: #204a97;
	text-align: right;
	margin-bottom: 2px;
}
